.card-itm-group {
  transition: transform 400ms ease;
  transform: translate(0%, 2%);
}

.card-itm-group[data-status="active"] {
  transition-delay: 300ms;
}

.card-itm-group[data-status="none"] {
  transform: scale(0);
}
